################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ArcSense
/ArcDataCore/bin/Debug/netstandard2.0
/ArcDataCore/obj
/ArcSenseView/bin/Debug
/Debug
/ArcSenseController/bin
/ArcSenseController/obj
/ArcSenseView/obj
/ArcView/ArcView/bin/Debug/netstandard2.0
/ArcView/ArcView/obj
/ArcView/ArcView.Android/bin/Debug
/ArcView/ArcView.Android/obj
